{{ define "main" }}

<div class="homepage-hero-image">

<div class="container-padding">
    <span class="homepage-hero-content">
        <p>{{ .Site.Params.Description }}</p>
        <a href="{{ relLangURL "download" }}" class="button">{{ i18n "download" }}</a>
        <img src="images/pages/os-supported-icons-all.png" height="50" />
    </span>
</div>

</div>

<div class="hero-credits">
    <div class="row container-padding credits">
        <div class="col-md-4">
            {{ i18n "powered-by" }} <a href="https://kde.org" target="_blank" class="home-kdelogo">
                <img src="images/pages/kde-logo.png" />
            </a>
        </div>
        <div class="col-md-5 social-media">
            {{ partial "social-media.html" . }}
        </div>
        <div class="col-md-3" >
            {{ i18n "art-by" }} <a href="https://twitter.com/tysontanx" target="_blank">Tyson Tan</a>
        </div>
    </div>
</div>

<div class="container-padding">
    <h2 class="inline" style="margin-top: 0">{{ i18n "news" }}</h2>
    <a href="{{ relLangURL "/index.xml" }}" style="text-decoration: none">
        <img src="images/rss-icon.png" class="rss-icon" />
    </a>

    {{ $posts := where .Site.RegularPages "Type" "posts" }}
    {{ if eq (len $posts) 0 }}
        <div>{{ i18n "no-news" }}</div>
    {{ else }}
        <div class="row">
        {{ range $posts | first 4 }}
        <section class="news col-md-3">
            <a href="{{ .Permalink }}">
                <div class="title">{{ .Title }}</div>
                <div>
                    <em>{{ .Date | time.Format ":date_full" }}</em>
                </div>
                <div>{{ .Summary }}</div>
                <a class="ghost button" style="margin-top: 1rem;" href="{{ .Permalink }}">{{ i18n "read-more" }}</a>
            </a>
        </section>
        {{ end }}
        </div>
    {{ end }}

    <h2>{{ i18n "home-tools-to-grow" }}</h2>
    <div class="row homepage-card">
        <div class="col-md-7 hero-image" style="background-image: url(images/pages/ravioli.webp);">
            <div class="credit">
                {{ i18n "art-by" }} <a href='https://krita-artists.org/u/raviolimavioli/activity/portfolio' target="_blank">RavioliMavioli</a>
            </div>
        </div>
        <div class="col-md-5 content">
            <h3>{{ i18n "home-tools-feature-text" }}</h3>
            <p>{{ i18n "home-tools-feature-description" }}</p>
            <ul>
                <li>{{ i18n "home-tools-feature-benefit-1" }}</li>
                <li>{{ i18n "home-tools-feature-benefit-2" }}</li>
                <li>{{ i18n "home-tools-feature-benefit-3" }}</li>
            </ul>
            <a href="{{ relLangURL "/features" }}" class="ghost button">{{ i18n "home-tools-feature-button" }}</a>
        </div>
    </div>

    <div class="row homepage-card">
        <div class="col-md-7 hero-image" style="background-image: url(images/pages/rhino_soldier_by_clooms.jpg);">
            <div class="credit">
                {{ i18n "art-by" }} <a href='https://www.artstation.com/clooms' target="_blank">clooms</a>
            </div>
        </div>
        <div class="col-md-5 content">
            <h3>{{ i18n "resources-and-materials" }}</h3>
            <p>{{ i18n "resources-and-materials-description" }}</p>
            <ul>
                <li>{{ i18n "resources-and-materials-benefit-1" }}</li>
                <li>{{ i18n "resources-and-materials-benefit-2" }}</li>
                <li>{{ i18n "resources-and-materials-benefit-3" }}</li>
            </ul>
            <a href="https://docs.krita.org/" target="_blank" class="ghost button">{{ i18n "see-resources" }}</a>
        </div>
    </div>

    <div class="row homepage-card">
        <div class="col-md-7 hero-image" style="background-image: url(images/pages/seaway.webp);">
            <div class="credit">
                {{ i18n "art-by" }} <a href='https://krita-artists.org/u/seaway/activity/portfolio' target="_blank">seaway</a>
            </div>
        </div>
        <div class="col-md-5 content">
            <h3>{{ i18n "home-community-text" }}</h3>
            <p>{{ i18n "home-community-description" }}</p>
            <ul>
                <li>{{ i18n "home-community-benefit-1" }}</li>
                <li>{{ i18n "home-community-benefit-2" }}</li>
                <li>{{ i18n "home-community-benefit-3" }}</li>
            </ul>
            <a href="https://krita-artists.org/" target="_blank" class="ghost button">{{ i18n "home-community-button" }}</a>
        </div>
    </div>
</div> <!-- end container-padding-->

<div class="container-padding">
    {{/* Get posts in the 'artist-interview' category */}}
    {{ $interviews := index .Site.Taxonomies.categories "artist-interview" }}

    {{/* do not show artist interviews if there are no interviews */}}
    {{ with $interviews }}
    <h2 style="display: inline-block; margin-right: 2rem; margin-bottom: 3rem;">{{ i18n "artist-interviews" }}</h2>
    <a href="{{ relLangURL "/artist-interviews" }}" class="ghost button">{{ i18n "see-all" }}</a>

    {{/* Show the first ten interviews */}}
    <div class="row" style="margin-bottom: 0.5rem;">
        {{ range . | first 10 }}
        <div class="col-md-6 interview-section">
            {{/* There is some splicing done to get the artist interview release year */}}
            {{/* The first line works on Windows if you are building on that. will be empty if ran on linux */}}
            {{/* The second line works on linux if you are building on that. will be empty if ran on windows */}}
            {{ $postYearWindows := index (split .File.Path "\\") 1 }}
            {{ $postYearLinux := index (split .File.Path "/") 1 }}

            <div class="row" style="margin-bottom: 0.5rem;">
                <div class="col-md-4 interview-img" style="background-image: url(images/posts/{{ $postYearWindows }}{{ $postYearLinux }}/{{ .Params.coverImage }});"></div>

                <div class="col-md-8 interview-text">
                    <h4 class="interview-title">{{ .Title }}</h4>
                    <em>{{ .Date | time.Format ":date_long" }}</em>
                    <p>{{ .Summary }}</p>
                    <a href="{{ .Permalink }}" class="button ghost">{{ .Title }}</a>
                </div>
            </div>
        </div>
        {{ end}}
    </div>
    {{ end }}
</div>

<div class="full-width-panel">
    <h2>{{ i18n "free-opensource" }}</h2>
    <span style="max-width: 530px; display: inline-block;">
        <p>{{ i18n "free-opensource-text" }}</p>
        <a href="about/license/" style="color: white">{{ i18n "free-opensource-button" }}</a>
    </span>
</div>

<div class="homepage-team-photo"></div>
<div class="hero-credit">
    <div style="text-align: center">
        {{ i18n "krita-sprint-caption" }}
    </div>
</div>

<div style="padding: 3rem; text-align: center">
    <h2 style="margin-top: 5rem; font-size: 300%;">{{ i18n "give-back" }}</h2>
    <span style="max-width: 600px; display: inline-block;">
        <p>{{ i18n "give-back-description" }}</p>
        <a href="{{ relLangURL "/donations" }}" class="button ghost">{{ i18n "give-back-button" }}</a>
    </span>
</div>

{{ .Content }}

{{ end }}
