{{ define "main" }}
<div class="container-padding">

    <h1 style="margin-top: 2rem; margin-bottom: 5rem;">{{ i18n "artist-interviews" }}</h1>

    {{ .Content }}

    <!-- This odd Go syntax gets posts that have the category of artist-interview. -->
    <div class="row" style="margin-bottom: 0.5rem;">

        {{ range (index .Site.Taxonomies.categories "artist-interview") | first 50 }}

        <div class="col-md-6">

            {{/*  There is some splicing done to get the artist interview release year */}}
            {{/*  The first line works on Windows if you are building on that. will be empty if ran on linux */}}
            {{/*  The second line works on linux if you are building on that. will be empty if ran on windows */}}
            {{ $postYearWindows := index (split .File.Path "\\") 1  }}
            {{ $postYearLinux := index (split .File.Path "/") 1  }}


            <div class="row" style="margin-bottom: 0.5rem;">
                <div class="col-md-4" style="background-image: url(images/posts/{{$postYearWindows}}{{$postYearLinux}}/{{ .Params.coverImage }}); border: 1px solid #cbcbcb; background-color: #e8e8eb; background-size: cover; height: 13rem; margin-bottom: 1rem; "></div>

                <div class="col-md-8">
                    <h4>{{ .Title }}</h4>
                    <em>{{ .Date | time.Format ":date_long" }}</em>
                    <p>{{ .Summary }}</p>
                    <a href="{{.Permalink}}" class="button ghost">{{ .Title }}</a>
                </div>  
        
            </div>
        </div>


        {{ end}}
    </div>

</div>
{{ end }}
