#footer-graphic {
  margin-top: 6rem;
}

@keyframes grow {
  0%   { transform: scaleY(0.8) scaleX(1.0); }
  50%  { transform: scaleY(1.0) scaleX(1.3); }
  100% { transform: scaleY(0.8) scaleX(1.0); }
}

@keyframes grow-2 {
  0%   { transform: scaleY(0.8) scaleX(1.0); }
  50%  { transform: scaleY(1.0) scaleX(1.5); }
  100% { transform: scaleY(0.8) scaleX(1.0); }
}

#footer-shape-one {
  animation: grow 30s forwards;
  animation-iteration-count: infinite;
  animation-delay: -3s;
}

#footer-shape-two {
  animation: grow-2 35s forwards;
  animation-iteration-count: infinite;
}

#back-to-top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0px 3px;
  background: #fff;
  font-size: 2rem;
  cursor: pointer;
  border-width: 1px;
  z-index: 100;
  bottom: 4rem;

  @media only screen and (max-width: $mobile-breakpoint) {
    bottom: 8rem;
  }
}

#cookies-message {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: #c6e9f3;
  padding: 0.75rem;
  color: #4e4e4e;
  text-align: center;
  box-shadow: 0 -1px 19px #343434;
}

#acceptCookieButton {
  border-radius: 5px;
  background: none;
  border: 1px solid #6bb9f5;
  color:#0078f9;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#acceptCookieButton:hover { 
  background-color: #6bb9f5;
  border: 1px solid transparent;
  color:#fff;
  transition: all 0.2s ease;
}

/* footer styles */
footer {
  margin-top: 0;
  background: #324148;
  padding: 1rem;
  font-size: unset;

  & p {
    color: #a8a5a5;
  }

  & a {
    display: block;
    text-align: left;
    color: #91b3c3;
    fill: #91b3c3;
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
    color: #91b3c3;
  }

  & h4 {
    text-align: left;
    color: white;
  }

}

.footer-section {
  margin-bottom: 2rem;
}
