.interview-img {
  border: 1px solid #cbcbcb;
  background-color: #e8e8eb;
  background-size: cover;
  height: 13rem;
  margin-bottom: 1rem;
}

.interview-title {
  margin-top: 0;
}

.interview-section {
  margin-bottom: 2rem;

}

.interview-text {
  padding: 0 2rem;
}

