{{ define "main" }}
{{ $release := .Site.Data.releases.latest }}
<div class="download-hero-image">
        <span class="download-hero-content">
            <h2 style="margin-top: 0">{{ i18n "download-krita" }} {{ $release.version }}</h2>
            {{ $releaseDate := partial "fn/i18n_time" (dict "time" (time $release.date) "format" (i18n "date-format")) }}
            <p>{{ i18n "released-on" }}: {{ $releaseDate }} | <a href="{{ relLangURL (print "/release-notes/" $release.release_notes_url_part) }}">{{ i18n "release-notes" }}</a></p>

            <a id="windows-download" style="display: none" href="{{ $release.windows_url }}" class="button downloadable">
                <img src="images/download-icon-windows.png" class="icon" /> {{ i18n "windows-installer" }}
            </a>

            <a id="macOS-download" style="display: none" href="{{ $release.mac_url }}" class="button downloadable">
                <img src="images/download-icon-osx.png" class="icon" /> {{ i18n "mac-installer" }}
            </a>

            <div id="linux-download" style="display: none">
                <a href="{{ $release.appimage_url }}" class="button downloadable">
                    <img src="images/download-icon-linux.png" class="icon" /> {{ i18n "linux-appimage" }}
                </a>

                <p style="margin-top: 1rem">
                    <strong>{{ i18n "flatpak" }}</strong> &mdash;
                    <a href="https://flathub.org/apps/details/org.kde.krita" target="_blank">{{ i18n "hosted-on-flathub" }}</a> {{ i18n "maintained-by-community" }}
                </p>

                <p>
                    <strong>{{ i18n "gentoo" }}</strong> &mdash; {{ i18n "maintained-by-community" }} {{ i18n "run" }}: <code style="display:inline">emerge krita</code>
                </p>
            </div>

            <span id="ios-download-information" style="display:none">
                <p>
                    <img
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3C/svg%3E"
                        data-src=images/pages/warning-icon.png height="20" width="20">
                        {{ i18n "iPadsiOSNotSupported" }}
                </p>
            </span>

            <span id="android-download-information" style="display:none">
                <a href="https://play.google.com/store/apps/details?id=org.krita"
                    class="button download-trigger piwik_download" target="_blank" style="display:inline-block; margin-bottom: 0.5em;">
                <img class="lazy" height="30" width="30"
                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2030%2030'%3E%3C/svg%3E"
                    data-src="images/pages/play-store.png">
                    Google Play Store
                </a>
                <a href="{{ $release.android_apk_builds_url }}" target="_blank" style="display: block;">
                    {{ i18n "see-android-apk-builds" }}
                </a>
            </span>

            <hr />

            <div class="row all-installer-options" style="margin-bottom: 1rem;">
                <div class="col-md-6">
                    <a href="{{ $release.windows_url }}" class="downloadable">{{ i18n "windows-installer" }}</a>
                    <a href="{{ $release.windows_portable_url }}" class="downloadable">{{ i18n "windows-portable" }}</a>
                </div>

                <div class="col-md-6">
                    <a href="{{ $release.mac_url }}" class="downloadable">{{ i18n "mac-installer" }}</a>
                    <a href="{{ $release.appimage_url }}" class="downloadable">{{ i18n "linux-appimage" }}</a>
                </div>
            </div>
        </span>
</div>

<div class="hero-credit">
    {{ i18n "art-by" }} <a href="https://www.artstation.com/somartist" target="_blank">Philipp A. Urlich {{ partial "external-link-icon.html" }}</a>
</div>

<div class="container-padding">
    <div class="row">
        <div class="col-md-6">
            <h3> {{ i18n "system-requirements" }} </h3>
            <ul>
                <li><strong>{{ i18n "operating-system" }}</strong> : {{ i18n "operating-system-description" }}</li>
                <li><strong>{{ i18n "ram" }}</strong> : {{ i18n "ram-description" }}</li>
                <li><strong>{{ i18n "gpu-optional" }}</strong> : {{ i18n "gpu-optional-description" }}</li>
                <li><strong>{{ i18n "graphics-tablet-brand" }}</strong> : {{ i18n "graphics-tablet-brand-description" }}</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3>{{ i18n "store-version" }}</h3>
            <p>{{ i18n "store-version-description" }}</p>
            <a href="https://www.microsoft.com/en-us/store/p/krita/9n6x57zgrw96" class="button ghost">{{ i18n "windows-store" }}</a>
            <a href="https://store.steampowered.com/app/280680/Krita_Gemini/" class="button ghost">{{ i18n "steam-store" }}</a>
            <a href="https://www.epicgames.com/store/p/krita" class="button ghost">{{ i18n "epic-store" }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>{{ i18n "nightly-builds" }}</h3>
            <p>{{ i18n "nightly-builds-description" }}</p>

            <p><strong>{{ i18n "krita-plus" }}</strong> (<a href="https://binary-factory.kde.org/job/Krita_Stable_Windows_Build/" target="_blank">{{ i18n "windows" }}</a> | <a href="https://binary-factory.kde.org/job/Krita_Stable_Appimage_Build/" target="_blank">{{ i18n "linux" }}</a> | <a href="https://binary-factory.kde.org/job/Krita_Stable_MacOS_Build/" target="_blank">{{ i18n "mac-os" }}</a>) <br/> {{ i18n "krita-plus-description" }}</p>

            <p><strong>{{ i18n "krita-next" }}</strong>  (<a href="https://binary-factory.kde.org/job/Krita_Nightly_Appimage_Build/" target="_blank">{{ i18n "windows" }}</a> | <a href="https://binary-factory.kde.org/job/Krita_Nightly_Appimage_Build/" target="_blank">{{ i18n "linux" }}</a> | <a href="https://binary-factory.kde.org/job/Krita_Nightly_MacOS_Build/" target="_blank">{{ i18n "mac-os" }}</a>) <br/>
                {{ i18n "krita-next-description" }}</p>
        </div>
        <div class="col-md-6">
            <h3>{{ i18n "windows-shell-extension" }}</h3>
            <p>{{ i18n "windows-shell-extension-description" }}</p>
            <a href="https://download.kde.org/stable/krita/KritaShellExtension-v1.2.4b-setup.exe" class="button ghost" target="_blank">{{ i18n "download" }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>{{ i18n "source-code" }}</h3>
            <p>{{ i18n "source-code-description" }}</p>

            <a href="{{ $release.tarball_url }}" class="button ghost" target="_blank">{{ i18n "tarball" }}</a>
            <a href="https://invent.kde.org/graphics/krita" class="button ghost" target="_blank">{{ i18n "kde-repository" }}</a>
        </div>

        <div class="col-md-6">
            <h3>{{ i18n "download-older-versions" }}</h3>
            <p>{{ i18n "download-older-versions-description" }}</p>

            <a href="https://download.kde.org/Attic/krita/" class="button ghost" target="_blank">{{ i18n "old-version-library" }}</a>
            <a href="https://download.kde.org/stable/krita/4.4.3/krita-x86-4.4.3-setup.exe" class="button ghost" target="_blank">{{ i18n "windows-32-bit-version" }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>{{ i18n "gpg-signatures" }}</h3>
            <p>{{ i18n "gpg-signatures-description" }}</p>

            <a href="{{ $release.gpg_signature_url }}" class="button ghost" target="_blank">{{ i18n "download-signature" }}</a>
        </div>
    </div>
</div>

{{ .Content }}

{{ end }}
