{{ define "main" }}
<style>

    .row img {
        width: 100%;
        padding-top: 0;
    }

    .row h3 {
        margin-top: 0;
    }
    
    .row.spacer {
        margin-top: 3rem;
    }
    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

  
</style>


<div class="features-homepage-image">

    <div class="container-padding">
        <span class="features-hero-content">
            
            <ul>
                <li>{{ i18n "no-trials" }}</li>
                <li>{{ i18n "no-subscriptions" }}</li>
                <li>{{ i18n "no-limits" }}</li>
            </ul>

        </span>
    </div>





</div>

<div class="hero-credit">     
        {{ i18n "art-by" }} <a href="https://twitter.com/Zevaniart" target="_blank">Ngan Pham {{ partial "external-link-icon.html" }}</a>
</div>



<div  class="container-padding">
    <h2>{{ i18n "clean-and-flexible" }}</h2>

    <div class="row" >
        <div class="col-md-12" style="margin-bottom: 2rem;">
            <img src="images/pages/application-screenshot.webp"  style="padding-bottom: 0.5rem" />
            <span class="hero-credit" style="display: block">{{ i18n "art-by" }}
                <a  href="https://www.artstation.com/sad_tea" target="_blank">Sad-tea {{ partial "external-link-icon.html" }}</a>
            </span>

    
        </div>
        <div class="col-md-6">
            <p>{{ i18n "an-intuitive-interface" }}</p>
            <a href="https://docs.krita.org/{{ .Site.Language.Lang }}/user_manual/getting_started/navigation.html#interface" class="ghost button">{{ i18n "learn-the-interface" }}</a>
        </div>

        <div class="col-md-6">
            <ul>
                <li>{{ i18n "customize-layout" }}</li>
                <li>{{ i18n "over-30-docker" }}</li>
                <li>{{ i18n "dark-light-themes" }}</li>
            </ul>
            
       
        </div>
    
    </div>


    <h2>{{ i18n "all-the-tools-you-need" }}</h2>

    <div class="row" >
        <div class="col-md-4 feature-section">
            <img src="images/pages/brush-presets.png" />
            <h3>{{ i18n "beautiful-brushes" }}</h3>
            <p>{{ i18n "over-100-brushes" }}</p>
            <a href="https://docs.krita.org/en/reference_manual/krita_4_preset_bundle.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>

        <div class="col-md-4 feature-section">
            <img src="images/pages/brush-stabilizer.png" />
            <h3>{{ i18n "brush-stabilizer" }}</h3>
            <p>{{ i18n "brush-stabilizer-description" }}</p>
            <a href="https://docs.krita.org/en/reference_manual/tools/freehand_brush.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>

        <div class="col-md-4 feature-section">
            <img src="images/pages/vector-libraries.png" />
            <h3>{{ i18n "vector-and-text" }}</h3>
            <p>{{ i18n "vector-and-text-description" }}</p>
            <a href="https://docs.krita.org/en/user_manual/vector_graphics.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>
    </div>


    <div class="row" style="margin-top: 5rem;" >
        <div class="col-md-4 feature-section">
            <img src="images/pages/brush-engines.jpg" />
            <h3>{{ i18n "brush-engines" }}</h3>
            <p>{{ i18n "brush-engines-description" }}</p>
            <a href="https://docs.krita.org/en/reference_manual/brushes/brush_engines.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>

        <div class="col-md-4 feature-section">
            <img src="images/pages/wrap-around-mode.jpg" />
            <h3>{{ i18n "wrap-around-mode" }}</h3>
            <p>{{ i18n "wrap-around-mode-description" }}</p>
            <a href="https://docs.krita.org/en/user_manual/introduction_from_other_software/introduction_from_sai.html#multibrush-mirror-symmetry-and-wrap-around" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>

        <div class="col-md-4 feature-section">
            <img src="images/pages/resource-manager.jpg" />
            <h3>{{ i18n "resource-manager" }}</h3>
            <p>{{ i18n "resource-manager-description" }}</p>
            <a href="https://docs.krita.org/en/reference_manual/resource_management.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>
    </div>

</div> <!-- end the content padding section-->


<div class="dark">
    <div  class="container-padding">
        <h2>{{ i18n "animation-title" }}</h2>

        <img src="images/pages/timeline-screenshot.png" style="margin-bottom: 3rem" />

        <div class="row">
            <div class="col-md-10">
                <p>{{ i18n "animation-title-description" }}</p>
            </div>

            <div class="col-md-2">
                <a href="https://docs.krita.org/en/user_manual/animation.html" class="button ghost" style="color: white;">{{ i18n "learn-more" }}</a>
            </div>
        </div>
        
        <hr style="color: white" />


        <div class="row spacer">

            <div class="col-md-4">
                <div class="video_wrapper">
                <iframe src="https://www.youtube.com/embed/CY5XppRTpBY"></iframe>
                </div>
            </div>

            <div class="col-md-4">
                <h3>{{ i18n "features" }}</h3>
                <ul>
                    <li>{{ i18n "animation-feature-1" }}</li>
                    <li>{{ i18n "animation-feature-2" }}</li>
                    <li>{{ i18n "animation-feature-3" }}</li>
                    <li>{{ i18n "animation-feature-4" }}</li>
                    <li>{{ i18n "animation-feature-5" }}</li>
                </ul>
            </div>

            <div class="col-md-4">
                <p>&nbsp;</p>
                <ul>
                    <li>{{ i18n "animation-feature-6" }}</li>
                    <li>{{ i18n "animation-feature-7" }}</li>
                    <li>{{ i18n "animation-feature-8" }}</li>
                    <li>{{ i18n "animation-feature-9" }}</li>
                    <li>{{ i18n "animation-feature-10" }}</li>
                </ul>
            </div>



        </div>
        

    </div>
</div>










<div  class="container-padding productivity">

    <h2>{{ i18n "productivity-features" }}</h2>

    <div class="row">
        <div class="col productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/drawing-assistants.png" />
                    <h4>{{ i18n "drawing-assistants" }}</h4>
                </span>

                <p>{{ i18n "drawing-assistants-description" }} </p>

                <span class="flex-spacer"></span>
                
                <a href="https://docs.krita.org/en/user_manual/painting_with_assistants.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
           
        </div>
        <div class="col productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/layer-management.png" />
                    <h4>{{ i18n "layer-management" }}</h4>
                </span>
                <p>{{ i18n "layer-management-description" }}</p>

                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/user_manual/layers_and_masks.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/selections.png" />
                    <h4>{{ i18n "select-and-transform" }}</h4>
                </span>
                <p>{{ i18n "select-and-transform-description" }}</p>

                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/user_manual/selections.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
    </div>



    <div class="row spacer">
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/color-management.png" />
                    <h4>{{ i18n "full-color-management" }}</h4>
                </span>
                <p>{{ i18n "full-color-management-description" }} </p>

                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/general_concepts/colors/color_managed_workflow.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/sun.svg" style="width: 30px" />
                    <h4>{{ i18n "gpu-enhanced" }}</h4>
                </span>
                <p>{{ i18n "gpu-enhanced-description" }}</p>

                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/reference_manual/preferences/display_settings.html#opengl" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/psd-support.png" />
                    <h4>{{ i18n "psd-support" }}</h4>
                </span>
                <p>{{ i18n "psd-support-description" }}</p>
                
                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/general_concepts/file_formats/file_psd.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
    </div>


    <div class="row spacer">
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/hdr-icon.png" />
                    <h4>{{ i18n "hdr-painting" }}</h4>
                </span>
                <p>{{ i18n "hdr-painting-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/en/reference_manual/hdr_display.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/dark-python.svg" />
                    <h4>{{ i18n "python-scripting" }}</h4>
                </span>
                <p>{{ i18n "python-scripting-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/en/user_manual/python_scripting.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/training-icon.png" />
                    <h4>{{ i18n "training-resources" }}</h4>
                </span>
                <p>{{ i18n "training-resources-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/en/index.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <img src="images/pages/david-revoy-dragon.webp"/>
            <span style="padding-left: 2rem;">{{ i18n "art-by" }} <a style="color: grey; " href="https://www.davidrevoy.com" target="_blank">David Revoy</a></span>

        </div>
    
        <div class="col-md-4" style="margin-top: 8rem;">
            <h2 style="text-align: left">{{ i18n "all-of-this-for-free" }}</h2>
            <p>{{ i18n "all-of-this-for-free-description" }}</p>
            <a href="/download" class="button">{{ i18n "download-krita" }}</a>
        </div>
    
    </div>


</div>




{{ .Content }}

{{ end }}
