<style>
    .donation-container {
        padding: 2rem;
        border: 4px solid white;
        margin: 3rem 0;
        background: rgb(243,255,254);
        background: linear-gradient(42deg, rgba(243,255,254,1) 0%, rgba(192,232,227,1) 100%);
    }

    .donation-container input,
    .donation-container a,
    .donation-container select {
        padding: 1rem;
        border: none;
        box-shadow: inset 0px 0px 15px -4px #92969a;
        font-size: 1rem;
        border-radius: 3px;
    }

    .donation-container input[type="submit"] {
        margin-top: 2rem;
    }

    .donation-container input[type="number"] {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        background: #f7fffe;
        padding-left: 3rem;
    }

    .currency-symbol {
        font-size: 2.3rem;
        position: absolute;
        top: 0.75rem;
        left: 2rem;
        color: grey;
    }

    .accepted-payments img {
        height: 35px;
    }

    .donation-content {
        flex-direction: column;
        display: flex;
    }

</style>


<form class="row" action="{{ .Site.BaseURL }}php/mollie-one-time-donation.php" method="post">

    <span class="col-md-6 donation-container donation-content">
        <h3 style="margin-top: 0">{{ i18n "monthly-donations" }}</h3>

        <p>{{ i18n "monthly-donations-description" }} :</p>

        <ul>
            <li>{{ i18n "monthly-donations-benefit-1" }}</li>
            <li>{{ i18n "monthly-donations-benefit-2" }}</li>
            <li>{{ i18n "monthly-donations-benefit-3" }}</li>
        </ul>

        <span class="flex-spacer"></span>

        <a href="https://fund.krita.org" target="_blank" class="primary-button"> {{ i18n "visit-development-fund" }}</a>
    </span>

    <span class="col-md-6 donation-container donation-content">
        <h3 style="margin-top: 0">{{ i18n "one-time-donation" }}</h3>

        <p>{{ i18n "one-time-description" }}</p>
       
        <div style="margin-bottom: 2rem; position: relative">
            <span class="currency-symbol" >&euro;</span>
            <input class="donation_amount" type="number" value="10" name="donation_amount" />
        </div>

    
        <div class="accepted-payments">
            <p style="margin-bottom: 0; padding-bottom: 0">{{ i18n "accdepted-payment-methods" }}</p><br/>
            <img src="images/one-time-donations/credit-cards.png" />
            <img src="images/one-time-donations/paypal.png" />
            <img src="images/one-time-donations/eps.png" />
            <img src="images/one-time-donations/banconctact.png" />
            <img src="images/one-time-donations/iDEAL.png" />
            <img src="images/one-time-donations/sofort.png" />
        </div>
    
        <input type="submit" value="Donate" name="submit" class="primary-button" />
    </span>


</form>

