{{/* Crazy way concatenate two string. The reasoning is related to piping one command to another 
	Also when making comments. make sure there is no space between the curly brace and the / symbol
*/}}
{{ $baseLanguage := .Site.BaseURL }}
{{ if ne .Site.Language.Lang "en" }}
   {{ $baseLanguage = printf "/" | printf "%s%s" .Site.Language.Lang  | printf "%s%s" .Site.BaseURL  }}
{{ end }}

<style>
    .support-krita-callout {
        background: #c9f5ff;
        border: 1px solid grey;
        padding: 2rem;
        margin: 2rem 0;
    }
</style>


<div class="support-krita-callout">
   
<div class="row">
    <div class="col-md-4">
        <img src="images/pages/2021-11-16_kiki-piggy-bank_krita5.png" />
    </div>

    
    <div class="col-md-8">
        <h3 style="margin-top: 0;">{{ i18n "support-krita-callout-title" }}</h3>
        <p>{{ i18n "support-krita-callout-description" }} </p>
        <a href="{{ $baseLanguage }}donations" class="ghost button">{{ i18n "donate" }}</a>
        <a href="{{ $baseLanguage }}shop" class="ghost button">{{ i18n "buy-something" }}</a>
    </div>

</div>


</div>
